<div *ngIf="isAuthenticated">
    <div class="navbar">
      <div class="left-content">
        <a class="custom-font" routerLink="/postit" routerLinkActive="active">PostIt Board</a>
        <a class="custom-font" routerLink="/notepaper" routerLinkActive="active">Notes</a>
      </div>
      <div class="right-content">
        <app-login-main></app-login-main>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="!isAuthenticated">
    <div class="middle-content">
      <div class="middle-contentson">
        <div class="custom-font" style="padding-bottom: 20px;">Gennemfør login for Website adgang</div>
        <app-login-main></app-login-main>
      </div>
    </div>
  </div>